/**
 * Adds a drop shadow
 */
=box-shadow($x, $y, $blur, $color, $inset = false)
{
 	@if($inset === false) { -moz-box-shadow: $x $y $blur $color; }
	@if($inset === false) { -webkit-box-shadow: $x $y $blur $color; }
	@if($inset === false) { box-shadow: $x $y $blur $color; }
	
	@if($inset !== false) { -moz-box-shadow: inset $x $y $blur $color; }
	@if($inset !== false) { -webkit-box-shadow: inset $x $y $blur $color; }
	@if($inset !== false) { box-shadow: inset $x $y $blur $color; }
}