/**
 * Rotate an element by any degreee
 */
=rotation($angle)
{
	transform: rotate({$angle}deg);
	-webkit-transform: rotate({$angle}deg);
	-moz-transform: rotate({$angle}deg);
}

/**
 * Rotate an element by any degree including IE
 */
=rotate($angle)
{
	transform: rotate({$angle}deg);
	-webkit-transform: rotate({$angle}deg);
	-moz-transform: rotate({$angle}deg);
	filter:ie-matrix-rotate({$angle});
	-ms-filter:ie-matrix-rotate({$angle});
	+has-layout;
}