/**
 * Rotate an element by any degreee
 */
=rotation($angle)
{
   transform: rotate({$angle});
	-webkit-transform: rotate({$angle});
	-moz-transform: rotate({$angle});
}

/**
 * Rotate an element 90, 180 or 270 degrees
 */
=rotate($angle)
{
   transform: rotate({$angle});
	-webkit-transform: rotate({$angle});
	-moz-transform: rotate({$angle});
	filter:ie-matrix-rotate({$angle});
	-ms-filter:ie-matrix-rotate({$angle});
	+has-layout;
}