/**
 * Cross-modern-browser Transition mixin :)
 *
 *
 */
=transition($property,$duration, $timingfunction)
{
   -moz-transition:$property $duration $timingfunction;
   -webkit-transition:$property $duration $timingfunction;
   -o-transition:$property $duration $timingfunction;
   transition:$property $duration $timingfunction;
}